*{
    margin: 0%;
    padding: 0px;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background: rgba(11,10,7,0.6);
    color: white;
    padding: 12px;
    
}
nav li a{
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase ;
    padding: 10px;
}
nav li{
    display: flex;
    text-decoration: none;
}
.logo{
    display: flex;
    color: burlywood;
}
img{
    width: 150px;
   cursor: pointer;
   margin-top: 4%;
   margin-left:66%;
}
body{
    background-image: url("bg1.png");    
}
.info{
    margin-left: 7%;
    margin-top: 8%;
}
.info h2{
    font-size: 65px;
    color: white;
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color:black;
}
.info h3 span{
    color: yellow;
}
.info a{
    text-decoration: none;
    color:black;
    background: white;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}
.info a:hover{
    background: rgb(59,174,209);
}
nav li a:hover{
    background: rgb(14, 104, 14);
    border-radius: 10px;
    
}
.image{
    width: 10%;
    height: 45%;
    position: absolute;
    right: 100px;
    bottom: 9;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    width: 380px;
}
.info h4 b{
    color: rgb(188, 200, 209);
    font-size: larger;
}
.section-content { 
    background-color: #fff;
    padding: 2rem; 
    margin: 1rem; 
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 } 

 .download-button { 
    background-color: #333;
     color: #fff; 
     padding: 0.5rem 1rem; 
     text-decoration: none;
      border-radius: 20px; 
      display: inline-block;
       margin-top: 10px;
     } 
     .download-button:hover {
         background-color: aqua; 
        }                 